.navbar,
.dropdown-menu a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar-brand,
.nav-link,
.logo a {
  color: rgb(0, 0, 0) !important;
}

.logo a {
  text-decoration: none;
}

.navbar .logo {
  font-size: 36px;
  font-size: 2.3rem;
  font-weight: 500;
}

.navbar-nav {
  white-space: nowrap;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgb(128, 0, 32)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link,
.dropdown-item {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  color: rgb(245, 158, 11) !important;
  position: relative;
  background-color: transparent !important;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.032);
}

.nav-link::after,
.dropdown-item::after {
  content: "";
  position: absolute;
  background-color: rgb(128, 0, 32);
  height: 3px;
  width: 0;
  left: 8px;
  bottom: 0;
  transition: width 0.3s ease, color 0.3s ease;
}

.nav-link:hover::after {
  width: 90%;
}

.dropdown-item:hover::after {
  width: 80%;
}

.nav-link:not(:last-child)::after {
  display: none;
}

.nav-link:not(:last-child):hover {
  background-color: none;
}

.nav-link:hover,
.dropdown-item:hover {
  background-color: transparent !important;
}

/* Custom CSS for dropdown on hover */
@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}
/* Media Queries */
@media (max-width: 991px) {
  .nav-link:hover,
  .dropdown-menu .dropdown-item:hover {
    color: #f59e0b !important;
    background-color: transparent !important;
  }
  .nav-link::after,
  .dropdown-item::after {
    display: none;
  }
}
.footer {
  text-align: left;
  padding: 4rem 0;
  background-color: rgba(128, 0, 32, 0.039);
  display: block;
}

.footer .footer-background {
  padding: 4rem 0;
}

.footer .footer-headers {
  color: rgb(128, 0, 32) !important;
  font-size: 16px;
}

.footer .footer-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

.footer .social-media .social-icon {
  color: rgb(128, 0, 32);
  font-size: 18px;
  margin-right: 18px;
  transition: color 0.3s;
}

.footer .social-media .social-icon:hover {
  color: rgb(245, 158, 11);
}

.footer .footer-small-text a {
  white-space: nowrap;
  color: #9a9a9a;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .footer-small-text a:hover {
  color: rgb(128, 0, 32);
}

.powered_by {
  margin: 20px 0 30px;
  padding: 30px;
}

.powered_by a {
  color: #9a9a9a;
  font-size: 11px;
  font-weight: 100;
  margin: 0 15px;
}

/* NOTE ============== EMAIL SECTION CSS START ==============  */
.newsletter-input {
  margin-bottom: 1.5rem;
}

body {
  padding-top: 112px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
